<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("./images/bg.jpg"); /* Change 'your-image.jpg' to the path of your background image */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
    form {
      margin-top: 20px;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    input[type="submit"] {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    @media screen and (max-width: 768px) {
      .container {
        margin: 20px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="../assets/images/BikersJunctionLogo.png" alt="Bikers Junction" style="display: block; margin: 0 auto; max-width: 200px;"> <!-- Change 'your-logo.png' to the path of your logo -->
    <h2>Password Reset</h2>
    <p>Please enter your new password for the Bikers Junction App:</p>
    <form id="resetPasswordForm" action="http://localhost:3000/api/user/reset-password/<%= id %>/<%= token %>" method="POST">
      <label for="password">New Password:</label>
      <input type="text" id="password" name="password" placeholder="Enter your new password" required>
      <input type="submit" value="submit">
    </form>
  </div>
</body>
</html>
